<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catalog App</title>
        
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
        
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/jquery.bootgrid.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='js/modernizr-2.8.1.js') }}"></script>
        <style>
            @-webkit-viewport { width: device-width; }
            @-moz-viewport { width: device-width; }
            @-ms-viewport { width: device-width; }
            @-o-viewport { width: device-width; }
            @viewport { width: device-width; }

            body { padding-top: 70px; }
            
            .column .text { color: #f00 !important; }
            .cell { font-weight: bold; }
            img { width:75px; height:75px; }
        </style>
        
	</head>
	<body>
		<div class="container-fluid">
			{% block content %}
			{% endblock %}
		</div>
        
<!-- Modal -->
<div id="itemInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Item Information</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type ="text" maxlength="100" class="form-control" name="name" id="name" value="item_name" readonly>

            <label for="description">Description:</label>
            <textarea class="form-control" style="resize:none" maxlength="250" rows="3" name="description" id="description" readonly>item_description</textarea>

            <label for="category">Category:</label>
            <input type ="text" maxlength="100" class="form-control" name="category" id="category" value="category" readonly>
            <br/>
            <label for="picture">Photo:</label>
            <img id="picture" class="img-thumbnail" src="/static/img/soccer-ball-red.jpg" alt="picture"/>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>        

<!-- jquery-bootgrid scripts -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.bootgrid.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.bootgrid.fa.js') }}"></script>
    <script>
    $(function()
    {
        function init()
        {
            var grid = $("#grid").bootgrid({
                formatters: {
                    "link": function(column, row)
                    {
                        var command = "";
                        
                        // display the edit|delete link for authorized users only
                        if (row.url_edit == 'READ_ONLY') {
                            command = "<button type=\"button\" class=\"btn btn-md btn-default command-info\" data-row-id=\"" + row.id + "\"><span class=\"glyphicon glyphicon-info-sign\"></span></button>";
                        } else {
                            command = "<button type=\"button\" class=\"btn btn-md btn-default command-info\" data-row-id=\"" + row.id + "\"><span class=\"glyphicon glyphicon-info-sign\"></span></button>";
                            command += "<button type=\"button\" class=\"btn btn-md btn-default command-edit\" data-row-id=\"" + row.url_edit + "\"><span class=\"glyphicon glyphicon-edit\"></span></button>";
                            command += "<button type=\"button\" class=\"btn btn-md btn-default command-delete\" data-row-id=\"" + row.url_delete + "\"><span class=\"glyphicon glyphicon-trash\"></span></button>";
                        }
                        
                        return command;
                    },
                    "photo": function(column, row)
                    {
                        return "<img src=\"" + row.url_photo + "\"/>";
                    }
                },
                rowCount: [-1, 25, 50, 75],
                templates: { header: "" },
                padding : 0,
                selection: false,
                multiSelect: false,
            }).on("loaded.rs.jquery.bootgrid", function()
            {
            
                /* Executes after data is loaded and rendered */
                grid.find(".command-info").on("click", function(e)
                {
                    //display the item information
                    var $tr_parent=$(this).parents("tr").first();
                    
                    item = $tr_parent.children('td').eq(0).text()
                    $("#itemInfo #name").val(item);
                    
                    description = $tr_parent.children('td').eq(5).text()
                    $("#itemInfo #description").val(description);
                    
                    category = $tr_parent.children('td').eq(1).text()
                    $("#itemInfo #category").val(category);
                    
                    picture = $tr_parent.children('td').eq(4).text()
                    $("#itemInfo #picture").attr("src", picture);
                    
                    $('#itemInfo').modal('toggle');
                }).end().find(".command-edit").on("click", function(e)
                {
                    window.location.href = $(this).data("row-id");
                }).end().find(".command-delete").on("click", function(e)
                {
                    window.location.href = $(this).data("row-id");
                });
            });
        }
        
        // initialize bootgrid
        init();
        
    });
        
    </script>
<!-- jquery-bootgrid scripts -->
        
<!-- image preview scripts -->
    <script>
    $(function()
    {
        function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imgFile').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#inFile").change(function(){
                readURL(this);
            });
    });
    </script>
<!-- image preview scripts -->
	</body>
</html>