{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row">
		<div class="col-md-2">
			<h4>Categories</h4>
		</div>
		<div class="col-md-2 text-left">
			<h4>Latest Items</h4>
		</div>
		<div class="col-md-8 text-left">
            <a href='{{url_for('newCategoryItem')}}'>
                <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item</button>
            </a>
		</div>
	</div>

	<div class = 'flash'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    </div>
	
    <!--Display the categories & items -->
    <div class="row">
        <div class="col-md-2 list-group">
            {% for category in categories %}
            <a href="{{url_for('showItems', category_id = category.id)}}" class="list-group-item list-group-item-info">{{category.name}}</a>
            {% endfor %}
        </div>
        <div class="col-md-10">
            <table id="grid" class="table table-condensed table-hover table-striped" data-selection="true" data-multi-select="false" data-row-select="true" data-keep-selection="true">
                <thead>
                    <tr>
                        <th data-column-id="item" data-align="left" data-header-align="center" data-width="50">Item</th>
                        <th data-column-id="category" data-align="left" data-header-align="center" data-width="50">Category</th>
                        <th data-column-id="photo" data-formatter="photo" data-align="center" data-header-align="center" data-sortable="false" data-width="50px">Photo</th>
                        <th data-column-id="link" data-formatter="link" data-align="center" data-header-align="center" data-sortable="false" data-width="50px">Link</th>
                        <th data-column-id="url_edit" data-visible="false">url</th>
                        <th data-column-id="url_delete" data-visible="false">url</th>
                        <th data-column-id="url_photo" data-width="0">url_photo</th>
                        <th data-column-id="id" data-order="desc" data-visible="false" data-identifier="true">id</th>
                        <th data-column-id="description" data-width="0" data-identifier="false">description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.CategoryItem.name}}</td>
                        <td>{{item.Category.name}}</td>
                        <td>photo</td>
                        <td>link</td>
                        {% if user_id == item.CategoryItem.user_id %}
                            <td>{{url_for('editCategoryItem', category_id=item.CategoryItem.cat_id, item_id=item.CategoryItem.id)}}</td>
                            <td>{{url_for('deleteCategoryItem', category_id=item.CategoryItem.cat_id, item_id=item.CategoryItem.id)}}</td>
                        {% else %}
                            <td>READ_ONLY</td>
                            <td>READ_ONLY</td>
                        {% endif %}
                        <td>{{item.CategoryItem.picture}}</td>
                        <td>{{item.CategoryItem.id}}</td>
                        <td>{{item.CategoryItem.description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <!--</div>-->
    
{% endblock %}
